{$CADDY_SITE} {
  encode gzip
  reverse_proxy web:3000 {
    header_up -X-AccessCheck-Trusted-Proxy
    header_up X-AccessCheck-Trusted-Proxy caddy
  }
  @secure protocol https
  header {
    X-Content-Type-Options nosniff
    Referrer-Policy no-referrer
  }
  header @secure Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
}
